.video
  display: flex
  &s
    position: relative
    &-2      
  &-background
    width: 50%
    &::after
      content: ''
      position: absolute
      min-width: 4px
      min-height: 100%
      background: #fff
      transform: translateX(-4px)
    video
      width: 100%
  &-2
    &-block
      position: relative
      max-width: 340px
      margin-left: auto
      transform: translate(16px, -94px)
      &__title
        font-size: 40px
        line-height: 47px
      &__subtitle
        margin-top: 25px
        font-size: 18px
        color: #888888
        line-height: 150%
  &-img
    min-width: 65%
    position: absolute
    top: 37px
    transform: translateX(34px)
@media ( max-width: 1100px )
  .video
    &-2
      &-block
        max-width: 312px
@media ( max-width: 1000px )
  .video
    &-2
      &-block
        max-width: 260px
    &-background
@media ( max-width: 900px )
  .video
    &-2
      &-block
        margin-left: initial
        margin: auto
        max-width: 340px
        transform: translate(0px, 0px)
    &-background
      width: 100%
    &-img
      width: 100%
      transform: translateX(0px)